@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/breakpoints';
@import 'abstracts/mixins';

@import 'vendors/bootstrap';
@import 'vendors/jquery-ui';

@import 'base/color';
@import 'base/reset';
@import 'base/fonts';
@import 'base/typography';
@import 'base/helpers';
@import 'base/uikits';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';
@import 'layout/menu-mobile';

@import 'components/grid';
@import 'components/margin';
@import 'components/buttons';
@import 'components/carousel';
@import 'components/slider';
@import 'components/pagination';
@import 'components/animations';
@import 'components/fontsize';
@import 'components/breadcrumb';
@import 'components/tabs';
@import 'components/modal';
@import 'components/text';
@import 'components/keyframes';

@import 'pages/home';
@import 'pages/about';
@import 'pages/contact';
@import 'pages/facebook-marketing';
@import 'pages/tiktok-marketing';
@import 'pages/media-solution';
@import 'pages/application-marketing';
@import 'pages/blog';
@import 'pages/lienhe';
@import 'pages/blog-detail';
@import 'pages/blog-catalogy';
@import 'pages/product';
@import 'pages/duan';
@import 'pages/duan-detail';

@import 'themes/theme';
@import 'themes/admin';