.about{
  &__section1{
    background-image: url(images/about/Abstracts1.png), url(images/about/anhchim3.png) !important;
    background-position: 50% -19px, 50% (499px);
    background-repeat: no-repeat;
  }
}