.facebook{
  &__box1{
    &__img{
      margin-bottom: 20px;
    }
    &__txt1{
      margin: 0 !important;
      margin-bottom: 12px !important;
      color: $color-01;
      @extend .fz-20;
      line-height: (28/20);
      font-family: $font-primary-SemiBold;
    }
    &__txt2{
      @extend .fz-16;
      line-height: (20/16);
      color: #000;
    }
  }
  &__box2{
    box-shadow: (2px 4px 4px rgba(0, 0, 0, 0.25));
    &__overlay{
      background: rgba(49, 49, 49, 0.8);
    }
    &__txt1{
      color: $color-01;
      @extend .fz-20;
      line-height: 1;
      margin-bottom: 20px;
      font-family: $font-three-Medium;
    }
    &__txt2{
      @extend .fz-20;
      line-height: (22/20);
      font-family: $font-three-Medium;
    }
    &__btn{
      @extend .fz-20;
      color: #ffffff;
      border-color: $color-01 !important;
      border-width: 2px !important;
    }
  }
}