.home{
  &__boxCommon{
    > *{
      &:nth-child(n+2){
        margin-top: 10px !important;
        @include media-breakpoint-up('m'){
          margin-top: 20px !important;
        }
      }
    }
    &__title{
      @extend .fz-30;
      line-height: (35/30);
      font-family: $font-primary-Bold;
      margin: 0 !important;
    }
    &__desc{
      @extend .home__section01__box1__txt;
    }
  }
  &__dot1{
    >li{
      &.uk-active{
        >a{
          background: $color-01;
        }
      }
      >a{
        &:hover{
          background: $color-01;
        }
        $x: 12px;
        width: #{$x};
        height: #{$x};
        border-color: $color-07;
      }
    }
  }
  &__section01{
    padding-top: 63px !important;
    @include media-breakpoint-up('m'){
      padding-top: 171px !important;
      padding-bottom: 63px !important;
    }
    &__box1{
      &__img{
        min-height: 201px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__txt{
        @extend .fz-16;
        line-height: (19/16);
        color: #000;
      }
    }
  }
  &__section02{
    padding-top: 20px;
    padding-bottom: 20px;
    @include media-breakpoint-up('m'){
      padding-top: 31px !important;
      padding-bottom: 55px !important;
    }
    &__input{
      border-radius: 14px;
      @extend .fz-16;
      color: $color-09;
      @include media-breakpoint-up('m'){
        height: 50px !important;
      }
      &::placeholder{
        color: $color-09;
      }
    }
    &__btn{
      @extend .fz-20;
      font-family: $font-primary-Bold;
      background: $color-01;
      @include media-breakpoint-up('m'){
        line-height: 48px !important;
      }
    }
  }
}