.home{
  &__boxCommon{
    > *{
      &:nth-child(n+2){
        margin-top: 10px !important;
        @include media-breakpoint-up('m'){
          margin-top: 20px !important;
        }
      }
    }
    &__title{
      @extend .fz-30;
      line-height: (35/30);
      font-family: $font-primary-Bold;
      margin: 0 !important;
    }
    &__desc{
      @extend .home__section01__box1__txt;
    }
  }
  &__dot1{
    >li{
      &.uk-active{
        >a{
          background: $color-01;
        }
      }
      >a{
        &:hover{
          background: $color-01;
        }
        $x: 12px;
        width: #{$x};
        height: #{$x};
        border-color: $color-07;
      }
    }
  }
  &__section01{
    padding-top: 63px !important;
    @include media-breakpoint-up('m'){
      padding-top: 171px !important;
      padding-bottom: 63px !important;
    }
    &__box1{
      &__img{
        min-height: 201px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__txt{
        @extend .fz-16;
        line-height: (19/16);
        color: #000;
      }
    }
  }
  &__section02{
    padding-top: 20px;
    padding-bottom: 20px;
    @include media-breakpoint-up('m'){
      padding-top: 31px !important;
      padding-bottom: 55px !important;
    }
    &__input{
      border-radius: 14px;
      @extend .fz-16;
      color: $color-09;
      border-color: #888888;
      @include media-breakpoint-up('m'){
        height: 50px !important;
      }
      &::placeholder{
        color: $color-09;
      }
    }
    &__btn{
      @extend .fz-20;
      font-family: $font-primary-Bold;
      background: $color-01;
      @include media-breakpoint-up('m'){
        line-height: 48px !important;
      }
    }
  }
  &__section03{
    //max-height: 358px !important;
    @include media-breakpoint-up('m'){
      min-height: 358px !important;
    }
  }
  &__section04{
    @include media-breakpoint-up('m'){
      padding-top: 284px !important;
      padding-bottom: 120px !important;
    }
    &__box1{
      &__title{
        &:hover{
          color: #ffffff;
        }
        background: $color-02;
        color: #ffffff;
        padding: 10px 15px;
        padding-right: 5px;
        //padding: 20px 25px;
        border-radius: 14px;
        .uk-open > &{
          border-radius: 14px 14px 0 0;
        }
        &:before{
          //background: #ffffff;
          //border-radius: 50%;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 5.376 5.376 0 12 0C18.624 0 24 5.376 24 12C24 18.624 18.624 24 12 24C5.376 24 0 18.624 0 12ZM13.2 13.2H18V10.8H13.2V6H10.8V10.8H6V13.2H10.8V18H13.2V13.2Z' fill='white'/%3E%3C/svg%3E%0A");
          .uk-open > &{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 5.376 5.376 0 12 0C18.624 0 24 5.376 24 12C24 18.624 18.624 24 12 24C5.376 24 0 18.624 0 12ZM6 13.2H18V10.8H6V13.2Z' fill='white'/%3E%3C/svg%3E%0A");
          }
        }
        &__txt{
          @extend .fz-20;
          line-height: (23/20);
          font-family: $font-primary-Bold;
        }
      }
      &__content{
        margin: 0 !important;
        @extend .fz-16;
        line-height: (19/16);
        color: #000;
      }
    }
    &__blog{
      &__box2{
        &__txt1{
          font-family: $font-secondary-Bold;
          @extend .fz-50;
          line-height: (61/50);
          color: $color-02;
        }
        &__txt2{
          @extend .fz-14;
          line-height: (16/14);
          color: #000;
        }
      }
      &__box1{
        >*{
          &:nth-child(n+2){
            @include media-breakpoint-up('m'){
              margin-top: 20px !important;
            }
          }
        }
        &__title{
          @extend .fz-14;
          line-height: (16/14);
          a{
            color: #000;
          }
        }
        &__date{
          @extend .fz-14;
          line-height: (16/14);
          color: #888888;
        }
      }
    }
  }
  &__section05{
    @include media-breakpoint-up('m'){
      min-height: 751px !important;
      padding-top: 113px !important;
    }
    &__box1{
      &__title{
        @extend .fz-48;
        font-family: $font-primary-Bold;
        line-height: (56/48);
        color: #000;
        margin-top: 0 !important;
      }
      &__box{
        @include media-breakpoint-up('m'){
          margin-bottom: 67px;
        }
      }
      &__desc{
        @extend .fz-16;
        line-height: (19/16);
        color: #000;
      }
      &__btn{
        font-family: $font-primary-Bold;
        @extend .fz-20;
        background: $color-01;
        color: #ffffff;
        text-transform: inherit;
        @include media-breakpoint-up('m'){
          line-height: 48px;
        }
      }
    }
  }
  &__section06{
    &__btn{
      @extend .fz-20;
      font-family: $font-primary-Bold;
      color: #000;
      line-height: 48px;
      border-color: #C4C4C4;
      //border-radius: 8px;
    }
  }
}