.footer{
  background-color: $color-04;
  &__top{
    padding-top: 20px;
    padding-bottom: 20px;
    @include media-breakpoint-up('m'){
      padding-top: 80px !important;
      padding-bottom: 27px !important;
    }
    &__grid1{
      @include media-breakpoint-up('m'){
        margin-bottom: 42px !important;
      }
    }
    &__box1{
      @extend .fz-16;
      color: #ffffff !important;
    }
    &__title{
      font-family: $font-primary-Bold;
      color: $color-01 !important;
      @extend .fz-20;
      line-height: (23/20);
    }
    &__menu{
      >li{
        &:nth-child(n+2){
          margin-top: 20px !important;
        }
        >a{
          @extend .fz-16;
          color: #ffffff !important;
        }
      }
    }
  }
  &__bottom{
    background-color: $color-02;
    padding-top: 15px;
    padding-bottom: 15px;
    &--fixed{
      position: fixed!important;
      top: inherit !important;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100%;
      & + *{
        display: block !important;
      }
    }
    &__btn{
      @extend .fz-16;
      text-transform: inherit;
      border-radius: 14px;
      background: $color-03;
      &:hover,
      &.uk-active{
        background: $color-01;
      }
    }
  }
}