.uk-breadcrumb{
  >li{
    &:nth-child(n+2){
      &:before{
        $x: 7px;
        margin: 0 #{$x} 0 calc(#{$x} - 4px) !important;
      }
    }
    >a{
      color: #888888;
      @extend .uk-breadcrumb__dc1;
    }
    >span{
      color: #F3CA18 !important;
      @extend .uk-breadcrumb__dc1;
    }
  }
  &__dc1{
    @extend .fz-20;
    font-family: $font-three-Light;
    line-height: (23/20);
  }
}