@-webkit-keyframes a {
  0% {
    transform:scale(.75)
  }

  to {
    transform:scale(1)
  }
}

@keyframes a {
  0% {
    transform:scale(.75)
  }

  to {
    transform:scale(1)
  }
}

@-webkit-keyframes b {
  0% {
    opacity: 0;
    transform:translateY(6.25rem)
  }

  to {
    opacity: 1;
    transform: translateY(0);
    visibility:visible
  }
}

@keyframes b {
  0% {
    opacity: 0;
    transform:translateY(6.25rem)
  }

  to {
    opacity: 1;
    transform: translateY(0);
    visibility:visible
  }
}

@-webkit-keyframes c {
  0% {
    transform:translateY(-100%)
  }

  to {
    transform:translateY(0)
  }
}

@keyframes c {
  0% {
    transform:translateY(-100%)
  }

  to {
    transform:translateY(0)
  }
}

@-webkit-keyframes d {
  0% {
    opacity: 0;
    transform:scale(.6)
  }

  to {
    opacity: 1;
    transform:scale(1)
  }
}

@keyframes d {
  0% {
    opacity: 0;
    transform:scale(.6)
  }

  to {
    opacity: 1;
    transform:scale(1)
  }
}

@-webkit-keyframes e {
  0% {
    opacity: 0;
    transform:translateY(6.25rem)
  }

  to {
    opacity: 1;
    transform:translateY(0)
  }
}

@keyframes e {
  0% {
    opacity: 0;
    transform:translateY(6.25rem)
  }

  to {
    opacity: 1;
    transform:translateY(0)
  }
}

@-webkit-keyframes f {
  0% {
    transform:translateY(0)
  }

  25% {
    transform:translateY(1.875rem)
  }

  75% {
    transform:translateY(-1.875rem)
  }
}

@keyframes f {
  0% {
    transform:translateY(0)
  }

  25% {
    transform:translateY(1.875rem)
  }

  75% {
    transform:translateY(-1.875rem)
  }
}

@keyframes g {
  0% {
    opacity:0
  }

  to {
    opacity:1
  }
}

@-webkit-keyframes g {
  0% {
    opacity:0
  }

  to {
    opacity:1
  }
}

@-webkit-keyframes h {
  0% {
    opacity: 0;
    transform:scale(.85)
  }

  to {
    opacity: 1;
    transform:scale(1)
  }
}

@keyframes h {
  0% {
    opacity: 0;
    transform:scale(.85)
  }

  to {
    opacity: 1;
    transform:scale(1)
  }
}