/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Arial Regular';
  font-display: auto;
  src:local('Arial Regular'), url('fonts/Arial/arial.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Roboto Regular';
  font-display: auto;
  src:local('Roboto Regular'), url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Light';
  font-display: auto;
  src:local('Roboto Light'), url('fonts/Roboto-Light_0.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Medium';
  font-display: auto;
  src:local('Roboto Medium'), url('fonts/Roboto-Medium_0.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Raleway
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Raleway Regular';
  font-display: auto;
  src:local('Raleway Regular'), url('fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Raleway Bold';
  font-display: auto;
  src:local('Raleway Bold'), url('fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Raleway SemiBold';
  font-display: auto;
  src:local('Raleway SemiBold'), url('fonts/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Montserrat
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Montserrat Bold';
  font-display: auto;
  src:local('Montserrat Bold'), url('fonts/Montserrat-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * SVN-Segoe UI Condensed
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'SVN-Segoe UI Condensed Regular';
  font-display: auto;
  src:local('SVN-Segoe UI Condensed Regular'), url('fonts/SVN-Segoe UI Condensed.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SVN-Segoe UI Condensed Bold';
  font-display: auto;
  src:local('SVN-Segoe UI Condensed Bold'), url('fonts/SVN-Segoe UI Condensed bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}