// Fonts families
$font-primary: 'Raleway Regular',sans-serif;
$font-primary-Bold: 'Raleway Bold',sans-serif;
$font-primary-SemiBold: 'Raleway SemiBold',sans-serif;
$font-secondary-Bold: 'Montserrat Bold',sans-serif;
$font-three: 'Roboto Regular',sans-serif;
$font-three-Light: 'Roboto Light',sans-serif;
$font-three-Medium: 'Roboto Medium',sans-serif;
$font-four: 'SVN-Segoe UI Condensed Regular',sans-serif;
$font-four-Bold: 'SVN-Segoe UI Condensed Bold',sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 16px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;
